.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fafafa10;
  background: #fafafa10;
  backdrop-filter: blur(10rem);
  padding: 1rem;
  border-radius: 15px;
  width: 90%;
  margin: 30px auto;
  position: relative;
  z-index: 1;
}

.title {
  color: #7c4c7cf6;
  margin-bottom: 20px;
}

.progress-container {
  background-color: white; 
  border: 2px solid black; 
  border-radius: 10px;
  padding: 5px; 
  display: flex;
  justify-content: space-between; 
  align-items: flex-end; 
  max-width: 430px; 
  width: 85%; 
}

.day-percentage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day {
  font-weight: bold;
  font-size: 14px; 
  margin-top: 5px; 
  order: 1; 
}

.percentage {
  color: black; 
  font-size: 16px; 
  margin-bottom: 5px; 
  order: -1; 
}

.bar {
  width: 100%;
  height: calc(var(--percentage) * 140px); 
  background-color: rgb(0, 110, 255);
  border-radius: 3px;
  margin-top: 5px; 
}
