.contenedor-grafico {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(250, 250, 250, 0.1);
  background: rgba(250, 250, 250, 0.1);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 15px;
  width: 90%;
  margin: 30px auto;
  position: relative;
  z-index: 1;
}

.titulo {
  align-self: flex-start;
  background-color: var(--morado-claro);
  color: var(--blanco);
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-size: 1.2em;
  transition: background-color 0.3s;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.397);
  text-align: center;
}

.contenedor-progreso {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 430px;
  width: 85%;
}

.dia-porcentaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 0 5px;
}

.dia {
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}

.porcentaje {
  color: black;
  font-size: 16px;
  margin-bottom: 5px;
}

.barra {
  width: 70px;
  height: calc(var(--porcentaje) * 140px);
  background-color: rgb(0, 110, 255);
  border-radius: 3px 3px 0 0;
  transition: height 0.3s ease;
}