.contenedor-informacion {
    background-color: transparent;
    border: 2px solid var(--rosa);
    border-radius: 10px;
    padding: 8px 12px;
    color: var(--blanco);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
}