.contenedor-etiqueta-pagina {
    background-color: var(--morado-oscuro);
    width: 25%;
    color: var(--blanco);
    padding: 15px 30px;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contenedor-etiqueta-pagina:hover {
    background-color: var(--rosa);
}