.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: var(--morado-oscuro);
  color: var(--blanco);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.dropdown-toggle:hover {
  background-color: var(--rosa);
}

.dropdown-menu {
  width: 150%;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--fondo-gris-oscuro);
  color: var(--blanco);
  border-radius: 20px;
  padding: 10px 0;
  list-style: none;
  margin: 2px;
  border: 2px solid #fafafa10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
  padding: 10px 15px;
  color: var(--blanco);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.dropdown-menu li:hover {
  background-color: var(--morado-claro);
}

.dropdown-menu li:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dropdown-menu li:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}