.contenedor-etiqueta-titulo {
    background-color: var(--morado-oscuro);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 42px;
    padding-right: 42px;
    display: inline-block;
}