:root {
    --blanco: #F5F5F5;
    --morado-claro: #9F5F91;
    --morado-oscuro: #572C57;
    --rosa: #E26972;
    --amarillo-claro: #F6EA98;
    --fondo-blanco: #FFFFFF;
    --fondo-gris-claro: #E0E0E0;
    --fondo-negro: #000000;
    --fondo-gris-oscuro: #333333;
    --fondo-beige-claro: #F5F5DC;
    --fondo-azul-claro: #ADD8E6;
    --fondo-verde-menta: #F0FFF0;
}

.menu-opciones {
    position: relative;
    display: inline-block;
}

.menu-boton-desplegar {
    background: var(--morado-oscuro);
    color: var(--blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: 60px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.menu-boton-desplegar:hover {
    background-color: var(--rosa);
}

.menu-lista {
    width: 200%;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--fondo-gris-oscuro);
    color: var(--blanco);
    border-radius: 20px;
    padding: 10px 0;
    list-style: none;
    margin: 2px;
    border: 1px solid var(--rosa);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-lista li {
    text-align: left;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.menu-lista li:hover {
    background-color: var(--morado-claro);
}

.sub-item {
    padding-left: 40px;
    font-weight: normal;
    margin-left: 20px;
}