.barra-navegacion {
    height: 3.5rem;
    justify-content: space-between;
    padding: 0;
    border: 2px solid #fafafa10;
    background: #fafafa10;
    backdrop-filter: blur(10rem);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
}


.barra-navegacion button {
    margin: 0;
}