.menu-opciones {
    display: inline-block;
    z-index: 10;
    padding: 0;
}

.menu-boton-desplegar {
    background: var(--morado-oscuro);
    color: var(--blanco);
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.397);
    height: 2rem;
    width: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-boton-desplegar:hover {
    background-color: var(--rosa);
}

.menu-lista {
    top: 100%;
    width: 70%;
    flex-direction: column;
    position: absolute;
    left: 0;
    background: var(--fondo-gris-oscuro);
    color: var(--blanco);
    border-radius: 10px;
    padding: 0;
    list-style: none;
    margin: 0;
    border: 2px solid #fafafa10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-lista li {
    text-align: left;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-lista li:hover {
    background-color: var(--morado-claro);
}

.sub-item {
    padding-left: 40px;
    font-weight: normal;
    margin-left: 20px;
}