.tabla-container {
  background-color: #9f5f91;
  border-radius: 20px;
  padding-bottom: 30px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  margin-bottom: 10px;
}

.table {
  border-collapse: collapse;
}

th,
td {
  color: black;
  padding: 10px;
  text-align: center;
  background-color: #d9d9d9;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #898989;
}

.no-metas {
  background-color: #d9d9d9;
  padding: 20px;
  text-align: center;
  color: black;
}


.contenedor-tabla-metas {
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  border: 2px solid #fafafa10;
  background: #fafafa10;
  backdrop-filter: blur(50rem);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1%;
}