#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 20px;
}

.container {
  background: linear-gradient(to bottom, #000000 0%, #0A0A0A 100%);
  width: 400px;
  margin: 0 auto 20px;
  padding: 20px;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

input[type="text"] {
  padding: 10px;
  color: black;
  border-radius: 20px;
  background-color: var(--blanco-gris);
  font-size: 16px;
  width: 300px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="date"] {
  padding: 10px;
  color: black;
  font-family: "Inter", sans-serif;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 300px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background: var(--blanco-gris);
  background-size: 20px 20px;
}

.button {
  background: linear-gradient(
    to right,
    var(--gris) 0%,
    var(--verde-lima) 50%,
    var(--gris) 100%
  );
  border-radius: 20px;
  width: 140px;
  padding: 10px 20px;
  margin-bottom: 20px; 
}

.button:hover {
  border-color: var(--verde-lima);
}

.search-bar {
  border: 1px solid var(--naranja-claro);
  border-radius: 30px; 
  padding: 20px; 
  margin-top: 20px; 
  text-align: center;
  width: 10%;
  height: 120px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.crear-meta {
  border: 2px solid red;
  border-radius: 20px;
  padding: 5px 25px;
  background: linear-gradient(
    to right,
    var(--morado-oscuro) 0%,
    red 50%,
    var(--morado-oscuro) 100%
  );
  font-size: 0.9em;
  width: 200px; 
  margin-top: -20px;
  margin-left: -120px;
  white-space: nowrap; 
}

.gym-logo {
  width: 170px;
  margin-bottom: 20px;
}

.search-bar {
  border: 1px solid var(--naranja-claro);
  border-radius: 30px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  width: 60%; 
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
