.pantalla-principal {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align:left;
    color: white;
    border: 2px solid #00FF85;
    border-radius: 10px; 
    display: inline-block; 
    padding: 5px 10px; 
    align-items: flex-start;
}

.sobre-nosotros {
    display: flex;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 20px;
}

img {
    width: auto;
    height: auto;
    max-width: 200px; 
    border-radius: 10px;
}

p {
    flex: 1;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.search-bar {
    border: 1px solid var(--naranja-claro);
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    width: 50%; 
    height: 120px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px; 
    color: white; 
}
  