.contenedor-informacion-perfil {
    padding: 8px;
}

.tarjeta-informacion-perfil {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border: 2px solid #fafafa10;
    background: #fafafa10;
    backdrop-filter: blur(10rem);
    border-radius: 10px;
    padding: 1%;
}