.contenedor-informacion-perfil {
    padding: 8px;
}

.tarjeta-informacion-perfil {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border: 2px solid #fafafa10;
    background: #fafafa10;
    backdrop-filter: blur(10rem);
    border-radius: 10px;
    padding: 1%;
}

.tarjeta-informacion-perfil input[type="text"],
.tarjeta-informacion-perfil input[type="date"],
.tarjeta-informacion-perfil input[type="tel"],
.tarjeta-informacion-perfil input[type="email"],
.tarjeta-informacion-perfil input[type="password"],
.tarjeta-informacion-perfil input[type="file"],
.tarjeta-informacion-perfil select {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    box-sizing: border-box;
}

.tarjeta-informacion-perfil input[type="file"] {
    padding: 3px;
}