.contenedor {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.contenedor-chat-fondo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../../../assets/fondo-perfil.png");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
}

.mensaje-hora {
  font-size: 0.8em;
  color: gray;
  text-align: right;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.mensaje.escribiendo {
  background-color: #424242;
  text-align: left;
  margin-right: auto;
  color: white;
}

.mensaje.escribiendo span {
  display: inline-block;
  position: relative;
}

.mensaje.escribiendo span::after {
  content: "...";
  display: inline-block;
  position: absolute;
  animation: typing 1.5s steps(4, end) infinite;
}

form {
  display: flex;
  margin-top: 20px;
}

.error {
  color: red;
  margin-top: 10px;
}

.contenedor-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fafafa10;
  background: #fafafa10;
  backdrop-filter: blur(10rem);
  padding: 1rem;
  border-radius: 15px;
  width: 90%;
  margin: 30px auto;
  position: relative;
  z-index: 1;
}

@keyframes typing {
  0%,
  20% {
    content: ".";
  }

  40% {
    content: "..";
  }

  60% {
    content: "...";
  }

  80%,
  100% {
    content: "";
  }
}
