.contenedor-informacion-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-imagen-perfil {
    margin-bottom: 0.5rem;
}

.imagen-perfil {
    border-radius: 50%;
}

.contenedor-informacion {
    height: 60%;
    width: 60%;
    margin: 0.5rem 0;
    border: 2px solid #00FF85;
    padding: 0.5rem;
    border-radius: 20px;
}