.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fafafa10;
  background: #fafafa10;
  backdrop-filter: blur(10rem);
  padding: 1rem;
  border-radius: 15px;
  width: 90%;
  margin: 30px auto;
  position: relative;
  z-index: 1;
}

.tit {
  width: 100%;
  max-width: 400px;
  background-color: rgb(231, 51, 51);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 30px;
  margin-left: -50px;
  background: linear-gradient(to right,
      var(--gris) 0%,
      var(--verde-lima) 50%,
      var(--gris) 100%);
  border-radius: 10px;
}

h5 {
  text-align: left;
  color: white;
  border: 2px solid #00ff85;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 10px;
  align-items: flex-start;
  margin-left: -100px;
  margin-top: 0;
  margin-bottom: -10px;
}

.buttons {
  margin: 5px 0;
}

button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

button:hover {
  background-color: #cc0000;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.exercise-container,
.exercise-info {
  margin-top: 20px;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

.content {
  margin-top: 5px;
}