.contenedor-rutina {
  padding: 8px;
}

.aplicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fafafa10;
  background: #fafafa10;
  backdrop-filter: blur(10rem);
  padding: 1rem;
  border-radius: 15px;
  width: 90%;
  margin: 0px auto;
  position: relative;
  z-index: 1;
}

.subtitulo {
  width: 90%;
  background-color: var(--morado-oscuro);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor-botones {
  margin: 5px 0;
}

button {
  margin: 5px;
}

.contenedor-botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.contenedor-ejercicio,
.contenedor-info-ejercicio {
  margin-top: 20px;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

.contenido {
  margin-top: 5px;
}
.botones-accion {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
