@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --blanco: #F5F5F5;
  --morado-claro: #9F5F91;
  --morado-oscuro: #7c4c7cf6;
  --rosa: #eb878e;
  --amarillo-claro: #F6EA98;
  --fondo-blanco: #FFFFFF;
  --fondo-gris-claro: #E0E0E0;
  --fondo-negro: #000000;
  --fondo-gris-oscuro: #3b3b3bf6;
  --fondo-beige-claro: #F5F5DC;
  --fondo-azul-claro: #ADD8E6;
  --fondo-verde-menta: #F0FFF0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  min-height: 100vh;
}

body {
  background-color: var(--fondo-negro);
  color: var(--blanco);
  font-family: 'Inter', sans-serif;
}

h1 {
  color: var(--blanco);
}

h4 {
  margin: 0;
  margin-top: 20px;
  display: flex;
  align-items: start;
  margin-right: auto;
}

p {
  color: var(--blanco);
  text-align: justify;
}

button {
  margin: auto;
  background: var(--morado-oscuro);
  color: var(--blanco);
  padding: 15px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.397);
  height: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  margin-top: 10px;
}

button:hover {
  background-color: var(--rosa);
}

a {
  color: var(--blanco);
  text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="file"],
textarea,
select {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 8px 12px;
  color: var(--blanco);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 12px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="date"]::placeholder,
input[type="number"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="time"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="month"]::placeholder,
input[type="week"]::placeholder,
input[type="file"]::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--blanco);
  opacity: 0.6;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
  border-color: var(--morado-claro);
  box-shadow: 0 0 8px 4px rgba(159, 95, 145, 0.5);
}



@media (min-width: 1024px) {

  html,
  body {
    font-size: 32px;
  }
}