.contenedor-evaluacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border: 2px solid #fafafa10;
  background: #fafafa10;
  backdrop-filter: blur(4rem);
  border-radius: 10px;
  width: 80%;
  margin: auto;
}