.container {
  width: auto;
  margin: 0 auto 20px;
  padding: 20px;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.header {
  background: #572c57;
  color: white;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

button {
  color: #f5f5f5;
  background: #572c57;
  border-radius: 20px;
  width: 140px;
  padding: 10px 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.button:hover {
  border-color: var(--verde-lima);
}

.metas-info {
  border-radius: 20px;
  padding: 5px 25px;
  background: #572c57;
  font-size: 14px;
  width: 200px;
  margin-top: -20px;
  margin-left: -120px;
  white-space: nowrap;
  box-shadow: #9f5f91 3px 3px;
}

.nueva-meta {
  border-radius: 20px;
  padding: 5px 25px;
  background: #572c57;
  font-size: 14px;
  width: 200px;
  margin-top: -20px;
  margin-left: -120px;
  white-space: nowrap;
  box-shadow: #9f5f91 3px 3px;
}
