.contenedor-cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--fondo-gris-oscuro);
    border-bottom: 1px solid var(--rosa);
}

.logo-gym {
    width: 170px;
    margin-bottom: 20px;
}